@*Vista una vez subido el fichero*@

<div class="row">
    @*Fila*@
    <div class="col-1"></div>@*Columnas. El ancho total es 12*@
    <div class="col-10">
        <h2>Web Jobs</h2>
        <h3>Listado de Ficheros - Almacenamiento Local (App Service)</h3>
        <hr />@*Subraya-Salto de línea*@
    </div>
    <div class="col-1"></div>
</div>