<?xml version="1.0" encoding="utf-8" ?>
<!-- FICHERO EN FORMATO XML -->
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <!-- CADENAS DE CONEXIÓN CON CUALQUIER TIPO DE RECURSO DE AZURE -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=demowebjobs666;AccountKey=wTM2D+qrPeox28EbpSu2D3QNAnoQJpD8rtSwSk4Aj+NsILw59BzE9nUkHacanSnvz1BsMAfSp9WyAiCTGRdWlg==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=demowebjobs666;AccountKey=wTM2D+qrPeox28EbpSu2D3QNAnoQJpD8rtSwSk4Aj+NsILw59BzE9nUkHacanSnvz1BsMAfSp9WyAiCTGRdWlg==" />
  </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>